@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>The Bluer Room of SPLORR!!</PageTitle>

@foreach(var element in display?.Elements ?? Array.Empty<IDisplayElement>())
{
	<span>@element.Text</span>
	if(element.NewLine)
	{
		<br/>
	}
}

@switch(display?.Prompt?.PromptType)
{
	case DialogPromptType.PROMPT_CHOOSE:
		<p>@display.Prompt.Title</p>
		foreach(int index in Enumerable.Range(0, display.Prompt.Choices.Length))
		{
			<button @onclick="()=>Choose(index)">@display.Prompt.Choices[index]</button>
		}
		break;
	case DialogPromptType.PROMPT_INTEGER:
		<p>@display.Prompt.Title</p>
		<EditForm Model="@inputModel" OnValidSubmit="HandleInteger">
			<InputNumber @bind-Value="@inputModel.IntegerValue" />
			<button type="submit">GO!</button>
		</EditForm>
		break;
	case DialogPromptType.PROMPT_DOUBLE:
		<p>@display.Prompt.Title</p>
		<EditForm Model="@inputModel" OnValidSubmit="HandleDouble">
			<InputNumber @bind-Value="@inputModel.DoubleValue" />
			<button type="submit">GO!</button>
		</EditForm>
		break;
	case DialogPromptType.PROMPT_STRING:
		<p>@display.Prompt.Title</p>
		<EditForm Model="@inputModel" OnValidSubmit="HandleString">
			<InputText @bind-Value="@inputModel.StringValue" />
			<button type="submit">GO!</button>
		</EditForm>
		break;
}

@code
{
	InputModel inputModel = new();
	IDisplay? display = null;
	async Task<IDisplay> GetDisplayAsync()
	{
		display =  display ?? (await BROSDisplay.Create(false, new Persister(JSRuntime)));
		return display;
	}
	protected override async Task OnInitializedAsync()
	{
		await GetDisplayAsync();
		await base.OnInitializedAsync();
	}
	async Task Choose(int choice)
	{
		(await GetDisplayAsync()).Prompt.Respond(counter: choice);
	}
	class InputModel
	{
		public int? IntegerValue { get; set; }
		public double? DoubleValue { get; set; }
		public string? StringValue{ get; set; }
	}
	async Task HandleInteger()
	{
		if (inputModel.IntegerValue != null)
		{
			(await GetDisplayAsync()).Prompt.Respond(counter: inputModel.IntegerValue.Value);
			inputModel.IntegerValue = null;
		}
	}
	async Task HandleDouble()
	{
		if (inputModel.DoubleValue != null)
		{
			(await GetDisplayAsync()).Prompt.Respond(dimension: inputModel.DoubleValue.Value);
			inputModel.DoubleValue = null;
		}
	}
	async Task HandleString()
	{
		if (inputModel.StringValue != null)
		{
			(await GetDisplayAsync()).Prompt.Respond(text: inputModel.StringValue);
			inputModel.StringValue = null;
		}
	}
	class Persister(IJSRuntime JSRuntime) : IPersister
	{
		public async Task SaveAsync(string filename, string content)
		{
			await JSRuntime.InvokeVoidAsync("saveGame", filename, content);
		}
		public async Task<string?> LoadAsync(string filename)
		{
			var data = await JSRuntime.InvokeAsync<string>("loadGame", filename);
			if (data != null)
			{
				return data;
			}
			return null;
		}
	}
}
